/* Desktop Header */

.header-container {
  margin-top: 2rem;
  width: min(90rem, 100vw - 2rem);
  margin-inline: auto;
}

.header-grid {
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  align-items: center;
}

li {
  list-style: none;
}

.header-link-list {
  display: flex;
  justify-content: space-around;
  margin-right: 50%;
}

.header-link {
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--grey-clr);
}

.header-link:hover {
  color: var(--dark-clr);
}

.arrow {
  position: relative;
  padding-bottom: 0.5rem;
}

.arrow::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23696969' stroke-width='1.5' fill='none' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
  margin-left: 0.25rem;
}

.arrow:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23141414' stroke-width='1.5' fill='none' d='m1 5 4-4 4 4'/%3E%3C/svg%3E");
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.feature-name {
  font-size: 0.9rem;
  color: var(--grey-clr);
  white-space: nowrap;
}

.drop-down-card {
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0rem 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 100%;
  display: none;
}

.arrow:hover .drop-down-card {
  display: block;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feature-icon {
  margin-bottom: 0.25rem;
}

.header-button {
  background-color: transparent;
  border-color: var(--grey-clr);
  color: var(--grey-clr);
  width: fit-content;
  padding-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.header-button:hover {
  border-color: var(--dark-clr);
  color: var(--dark-clr);
}

@media only screen and (max-width: 66rem) {
  .header-link-list {
    margin-right: 30%;
  }
}

@media only screen and (max-width: 52rem) {
  .header-link-list {
    margin-right: 15%;
  }
}

@media only screen and (max-width: 50rem) {
  .header-grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    row-gap: 1rem;
  }

  .header-link-list {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-right: 0%;
  }

  .login {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .header-button {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

/* Mobile Header */

.mobile-header-container {
  margin-top: 1.5rem;
  margin-left: 0.75rem;
  position: relative;
}

.menu-burger-button,
.menu-close-button {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.opacity-none {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
}

/* Design Switcher */

@media only screen and (min-width: 577px) {
  .mobile-design {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .desktop-design {
    display: none;
  }
}
